html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #5a5a5a;
}

#top {
  text-align: center;
  margin: 0 auto;
  color:white;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#status {
  font-size: 4em;
  text-align: center;
  color:white;
}

.tracksDiv {
  border: 4px solid #c6c6c6;
  background-color: #EEEEEE;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto 33% 1fr;
  padding: 10px 25px;
  width: 40vw;
  height: auto;
}

.trackName {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.trackArtist {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.trackAlbum {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.trackImage {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  vertical-align: middle;
}

.trackRating {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.artistsDiv {
  border: 4px solid #c6c6c6;
  background-color: #EEEEEE;
  padding: 10px 25px;
  width: 80vw;
  height: auto;
}

.albumDiv {
  border: 4px solid #c6c6c6;
  background-color: #EEEEEE;
  padding: 10px 25px;
  width: 40vw;
  height: auto;
}

@media (max-width: 1000px){
  .tracksDiv {
  width: 80vw;
}
 .albumDiv {
  width: 80vw;
 }
}